@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
    --fonte-normal: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    margin: 0px;
    font-family: var(--fonte-normal);
}

header{
    position: relative;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    height: 20vw;
    padding-bottom: 20px;
}

header > h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    font: 8vw var(--fonte1);
}

header > p{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 1em var(--fonte-normal);
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

article.normal{
    font: 3.5vw var(--fonte2);
    line-height: 2em;
    padding: 20px 0px 20px 30px;
}

article.imagem{
    font: 3.5vw var(--fonte2);
    line-height: 2em;
    color: white;
    padding: 20px 0px 20px 30px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
}

article.imagem > p{
    background-color: rgba(0, 0, 0, 0.404);
    width: 41vw;
}

.imagem#img1{
    background: white url('../imagens/background001.jpg') center no-repeat fixed;
    background-size: cover;
}

.imagem#img2{
    background: white url('../imagens/background002.jpg') center no-repeat fixed; 
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}

footer > p{
    margin: 0px;
    padding: 0px;
}


